<!--@@@@@@@权限详情@@@@@@-->
<div class="movePanel" move-directive>
    <div class="panel panel-info dialog_level_1">
        <div class="panel-heading">
            <h4 class="modal-title">权限详情</h4>
        </div>
        <div class="panel-body" style="height:240px;">
            <form role="form" name="myForm" class="form-horizontal" novalidate>
                <li ng-repeat="where in inputs">
                    <span><small>{{where.names}}</small></span>
                    <input type="text" class="form-control {{where.key}}" key={{where.key}} disabled>

                </li>
            </form>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="button" ng-click="closed()">关闭</button>
        </div>
    </div>
</div>
